@import "../../fonts/fontawesome.scss";
@import "../../fonts/solid.scss";
@import "../../fonts/brands.scss";

/*.Landing_mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          'inputForm'
          'beerList'
;
}*/

.SearchBeer_searchForm {
  //grid-area: searchForm;
  display: flex;
  justify-content: space-between;
}

.SearchBeer_inputForm {
  flex-grow: 2;
}

.SearchBeer_inputButton {
  flex-grow: .5;
  margin-left: 20px;
}

.SearchBeer_beerName {
  &:before {
    @include fa-icon;
    @extend  .fas;
    content: fa-content($fa-var-beer);
    color: #deb217;
    margin-right: 20px;
  }
}

.SearchBeer_basicInfo{
  display: flex;
  flex-wrap: wrap;
}

.SearchBeer_basicInfo > div{
  //flex-basis: 300px;
  flex-grow: 1;
  //width: 33%;
}

.SearchBeer_overallRating:not(:checked) > input,
.SearchBeer_fullnessRating:not(:checked) > input,
.SearchBeer_clarityRating:not(:checked) > input,
.SearchBeer_foamRating:not(:checked) > input{
  display: none;
}

.SearchBeer_overallRating:not(:checked) > label,
.SearchBeer_fullnessRating:not(:checked) > label,
.SearchBeer_clarityRating:not(:checked) > label,
.SearchBeer_foamRating:not(:checked) > label {
  //float: right;
  //width: 1em;
  //overflow: hidden;
  //cursor: pointer;
  font-size: 20px;
  margin-left: 15px;
  color: #ccc;
  //padding: 5px
}

.SearchBeer_overallRating:not(:checked) > label,
.SearchBeer_fullnessRating:not(:checked) > label,
.SearchBeer_clarityRating:not(:checked) > label,
.SearchBeer_foamRating:not(:checked) > label {
  &::before{
    @include fa-icon;
    @extend  .fas;
    content: fa-content($fa-var-beer);
    transform: rotate(15deg);
  }
}

.SearchBeer_overallRating > input:checked + label,
.SearchBeer_fullnessRating > input:checked + label,
.SearchBeer_clarityRating > input:checked + label,
.SearchBeer_foamRating > input:checked + label {
  color: #ffc700;
}

/*@media screen and (min-width: 500px) {
  .Landing_mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            'searchForm searchForm searchForm'
            'basicInfo basicInfo basicInfo'
  ;
  }
}*/

