/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.App_userPhoto {
  width: 3em;
  height: 3em;
  margin-right: 20px;
}

.App_login {
  display: flex;
  justify-content: space-between;
}

/*
.App_login-btn {
  margin-left: 20px;
}*/
