@import "../../fonts/fontawesome.scss";
@import "../../fonts/solid.scss";
@import "../../fonts/brands.scss";

.Home_inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Home_inputContainer--Score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_inputForm {
  grid-area: inputForm;
  display: flex;
  flex-direction: column;
}

.Home_beerList {
  grid-area: beerList;
}
.Home_overallRating:not(:checked) > input,
.Home_fullnessRating:not(:checked) > input,
.Home_clarityRating:not(:checked) > input,
.Home_foamRating:not(:checked) > input{
  display: none;
}

.Home_fullnessRating:not(:checked) > label,
.Home_clarityRating:not(:checked) > label,
.Home_foamRating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  cursor: pointer;
  font-size: 30px;
  margin-left: 15px;
  color: #ccc;
  padding: 5px
}

.Home_overallRating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  cursor: pointer;
  font-size: 45px;
  margin-left: 15px;
  color: #ccc;
  padding: 5px
}

.Home_overallRating:not(:checked) > label,
.Home_fullnessRating:not(:checked) > label,
.Home_clarityRating:not(:checked) > label,
.Home_foamRating:not(:checked) > label {
  &::before{
    @include fa-icon;
    @extend  .fas;
    content: fa-content($fa-var-beer);
    transform: rotate(15deg);
  }
}

.Home_overallRating > input:checked ~ label,
.Home_fullnessRating > input:checked ~ label,
.Home_clarityRating > input:checked ~ label,
.Home_foamRating > input:checked ~ label {
  color: #ffc700;
}

.Home_overallRating:not(:checked) > label:hover,
.Home_overallRating:not(:checked) > label:hover ~ label,
.Home_fullnessRating:not(:checked) > label:hover,
.Home_fullnessRating:not(:checked) > label:hover ~ label,
.Home_clarityRating:not(:checked) > label:hover,
.Home_clarityRating:not(:checked) > label:hover ~ label,
.Home_foamRating:not(:checked) > label:hover,
.Home_foamRating:not(:checked) > label:hover ~ label {
  color: #deb217;
}

/*.foamRating > input:checked + label:hover,
.foamRating > input:checked + label:hover ~ label,
.foamRating > input:checked ~ label:hover,
.foamRating > input:checked ~ label:hover ~ label,
.foamRating > label:hover ~ input:checked ~ label {
  color: #c59b08;
}*/

.Home_mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          'inputForm'
          'beerList'
;
}

@media screen and (min-width: 500px) {
  .Home_mainContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            '. inputForm .'
            '. beerList .'
  ;
  }
  .Home_inputForm--btn {
    width: 33%;
    margin: 0 auto;
  }
}