.Login_loginContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  margin-top: 10px;
}
.Login_loginImg {
  width: 3em;
  height: 3em;
  background-size: contain;
  margin-left: 20px;
}
.Login_userPhoto {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.Login_loginUser {
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.Login_loginUser h1 {
  color: #a4a9ac;
}

.Login_login-btn {
  border-radius: 3px;
  border: none;
  padding: 10px;
  background: #ffc700;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  //font-family:'Shadows Into Light', cursive;
  &:hover {
    background: #deb217;
  }
}

@media screen and (max-width: 400px ) {
  .Login_loginContainer {
    display: flex;
    //justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /*align-items: center;
    height: 200px;
    margin-top: 10px;*/
  }
}
